.card {
  padding: 2em;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.25s;
}

.card:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.card__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
